.btn {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 12px 25px;
  background: #00c3ff;
  color: #000;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #0099cc;
}